<%= form_for @user do |f| %>
  
  <% if @user.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@user.errors.count, "error") %> prevented this post from saving</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :username, "Enter your username here: "%>
  <%= f.text_field :username %><br />
  <%= f.label :email, "Your email goes here: "%>
  <%= f.email_field :email, placeholder: "johnny@example.com" %><br />
  <%= f.label :password, "And your password here: "%>
  <%= f.password_field :password %><br />
  <%= f.submit "Save user" %>
<% end %>
